.planisferio{
    width: 40px;
}
.color-menu{
    background-color: rgb(10, 91, 241);
    color:#f9efef;
    }
.carousel-inner{
        border: 4px solid blue;
    }
.footer{
        background-color:orange;
        height: 20px;
        margin-top: 5%;
        padding: 0.5pc;
        color:rgb(56, 56, 225);
        text-align: left;
        padding-top: 5px;
        grid-area: footer;
    }
.container__item{
        border: 1px solid black;
        height: fit-content;
    }
